language: php
php:
  - 5.5
  - 5.6
branches:
  only:
    - develop
    - master
services:
  - mongodb
  - memcached
  - elasticsearch
before_install:
  - sudo add-apt-repository -y ppa:moti-p/cc
  - sudo apt-get update
  - sudo apt-get -y --reinstall install imagemagick
  - printf "\n" | pecl install --force mongo
  - printf "\n" | pecl install --force mongodb
  - printf "\n" | pecl install --force memcached-2.2.0
  - printf "\n" | pecl install apcu-4.0.10
  - printf "\n" | pecl install imagick-3.4.0RC3
before_script:
  - "mkdir -p build/logs && touch build/logs/httpd.log"
  - echo "extension = imagick.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - echo "extension = mongodb.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - echo "extension = memcached.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - composer self-update
  - composer -n --no-ansi install --dev --prefer-source
script:
  - ./vendor/bin/phpunit --verbose -c tests/phpunit/phpunit.xml.travis
  - ./vendor/bin/behat --strict --config tests/behat/behat.yml
after_failure:
  - echo "Tests failed - httpd log follows"
  - echo "================================"
  - cat build/logs/httpd.log
