<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="false" bootstrap="bootstrap.php">
  <testsuites>
    <testsuite name="imbo-metadata-search-unit">
      <directory>ImboMetadataSearchUnitTest</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../../library</directory>
      <exclude>
        <directory suffix="Interface.php">../../library/Imbo</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>